.semre_of_relationships *{
  -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-family: Helvetica;
}
.semre_of_relationships .cell{
 	font-size: 12px;
}

.semre_of_relationships ul{margin:0;}
  .semre_of_relationships ul li{
    list-style: none;
    line-height: 20px;
  }
.semre_of_relationships span{
  float: left;
}
    span.notes{
      font-size:10px;
      display: none;
    }
.semre_of_relationships .separator{
  font-size: 36px;
  color: rgb(224,224,224);
}
.clearfix{clear: both;}
.cell{
  display:table-cell;
  vertical-align: middle;
    padding: 10px;
}

img.pdf_thumbnail{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	width: 110px;
	margin-left: 20px;
}
.law_record_resources{
	float: right;
  width: 500px;
  margin-top: 20px;
}
	.law_record_resources .resource_item_explore_links{
		float: right;
		margin-right:35px;
	}
		.law_record_resources .resource_item_explore_links a{
			padding-right: 5px;
			text-decoration: none!important;

		}

	.law_record_resources .description{
		display: none;
	}
.resource_explore_icon{
	width:20px;
}
	.resource_explore_icon-eye{
		width: 24px;
	}

.law_record_resources .resource-item{
	min-height: 30px;
}

.relationship_caption{
	margin-left: 10px;
	margin-top: 20px;
	display: block;
	margin-bottom: 2px;
	font-style: italic;
	font-size: 12px;
}
.semre_of_relationships{
	border: 1px solid rgb(230,230,230);
	border-radius: 8px;

}
