{% import 'macros/form.html' as form %}

<div class="control-group">

<!--  {% block package_basic_fields_document_type %}
  <div class="control-group control-full">
    {% set error = errors.document_type %}
    <label class="control-label" for="field-document_type">{{ _("Document type") }}</label>
    <div class="controls">
      <select id="field-document_type" name="document_type" data-module="autocomplete">
        {% for document_type in h.odm_laws_document_types()  %}
          <option value="{{ document_type[0] }}" {% if data.get('document_type', 'notspecified') == document_type[0] %}selected="selected"{% endif %}>{{ document_type[1] }}</option>
        {% endfor %}
      </select>
      {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    </div>
  </div>


 {% endblock %} -->

<!-- Formal title of the law or policy: -->
<!-- {% block package_basic_fields_title %}
  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('Formal title of the law or policy'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}) }}
{% endblock %} -->
 {%block package_metadata_fields_odm_laws_short_title%}
   {{ form.input('odm_laws_short_title', is_required=true, label=_('Short title'), id='field-short-title', placeholder=_('commonly used label, e.g. Cambodia Labor Law'), value=data.odm_laws_short_title, error=errors.shortTitle, classes=['control-full']) }}
 {% endblock %}
 
 

 </div>
