{% block package_metadata_fields_odm_laws_previous_legal_document %}
	<div class="control-group">
		<label class="control-label" for="field-odm_laws_previous_legal_document">{{ h.scheming_language_text(field.label) }}</label>
		<div class="controls control-full">
			<select id="field-odm_laws_previous_legal_document" name="{{ h.scheming_language_text(field.field_name) }}" data-module="autocomplete">
				<option disabled selected>--{{ _("Select an associated document") }} --</option>
				{% for dataset in h.odm_laws_lookup_relationship_target() %}
					<option value="{{ dataset }}">{{ dataset }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
{% endblock %}
